/* General Styles */
@font-face {
    font-family: "WinXP";
    src: url("resources/fonts/windows-xp-tahoma.ttf") format('TrueType');
}
/* Body Styles, this is sort of like the homescreen */
body {
    background-image: url(resources/images/windows_background.jpg);
    background-repeat: no-repeat;
    background-size: 100vw auto;
    background-attachment: fixed;
    font-family: "WinXP";
}
/* Taskbar Styles  */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #245DDA;
    color: white;
    padding: 0px;
}
footer a {
    text-decoration: none;
    font-family: "WinXP";
    font-size: 12px;
}

.home-button-image {
    border-radius: 0 12px 12px 0;
}
.home-button {
    display: inline-flex;
    padding: 0;
    vertical-align: middle;
}
/* Start Popup */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.popup-header {
  background: linear-gradient(#1a66c6, #4292e9);
  padding: 0px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.profilePicture {
  width: 50;
  height: 50px;
  border: 2px solid white; 
}
.header-shine {
  background-color: #4292e9;
  height: 3px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.username-Span {
  top: 40px;
  left: 100px;
  position: absolute;
  color: white;
}
.popup-content a, li {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  text-decoration: none;
}
.startMenuButtonText {
  display: inline-block;
}




.popup {
    position: fixed;
    bottom: 80px; /* Adjust based on your footer height */
    left: 10px;
    width: 250px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    display: none;
    z-index: 1000;
  }
  .popup-content {
    padding: 15px;
  }
  .popup-content ul {
    list-style: none;
    padding: 0;
  }
  .popup-content li {
    padding: 8px;
    cursor: pointer;
  }
  .popup-content li:hover {
    background: #f0f0f0;
  }