/* General Styles */
@font-face {
    font-family: "WinXP";
    src: url("resources/fonts/windows-xp-tahoma.ttf") format('TrueType');
}
/* Body Styles, this is sort of like the homescreen */
body {
    background-image: url(resources/images/windows_background.jpg);
    background-repeat: no-repeat;
    background-size: 100vw auto;
    background-attachment: fixed;
    font-family: "WinXP";
}
/* Taskbar Styles  */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #245DDA;
    color: white;
    padding: 0px;
}
footer a {
    text-decoration: none;
    font-family: "WinXP";
    font-size: 12px;
}

.home-button-image {
    border-radius: 0 12px 12px 0;
}
.home-button {
    display: inline-flex;
    padding: 0;
    vertical-align: middle;
}
